/* ================Footer=============== */
.footer {
  height: 10;
  width: 100%;
  padding: 2rem 2rem 2rem;
  /* background-color:  #E83F6F; */
  margin-top: 1rem;
  bottom: 0;
  position: absolute;
}
.footer .socialicons {
  display: flex;
  justify-content: center;
}

.footer .socialicons a {
  text-decoration: none;
  padding: 1rem;
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 50%;
}

.footer .socialicons a i {
  font-size: 2rem;
  color: black;
  opacity: 0.9;
}

.footer .socialicons a:hover i {
  color: #e83f6f;
  transition: 0.5s;
}

.footer .footernav {
  margin: 1rem 0;
}

.footer .footernav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer .footernav ul li a {
  color: #ffffff;
  margin: 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.7;
  transition: 0.5s;
  text-transform: uppercase;
}

.footer .footernav ul li a:hover {
  opacity: 3;
  color: #e83f6f;
}

.footer .footerbottom {
  background-color: #32936f;
  padding: 1rem;
  text-align: center;
}

.footer .footerbottom p {
  color: white;
}

.footer .footerbottom .designer {
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin: 0px 2px;
}
/* =========== Footer ends =========== */

/* @media (max-width: 820px) {
  .footer-column {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 412px) {
  .nav-links a {
    font-size: 1em;
    padding: 0.5em;
  }
  .row {
    flex-direction: column;
    padding: 20px 30px;
  }

  .footer .footer-column ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
} */
