@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
}

body{
    o
}
/* =================== hero img =========== */

.hero-img {
  background: url(/public/img/index.jpeg) no-repeat 50%;
  background-size: cover;
  height: 470px;
  display: inline-block;
  width: 100%;
}

.page-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-img .page-width {
  padding: 0 30px;
}
.hero-img .page-width h1 {
  font-size: 58px;
  text-align: center;
  margin: 20px 0 0;
  color: black;
  font-weight: 600;
}

.hero-img .page-width .section-text {
  width: 419px;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 100px;
}
/* =================== Intro section=========== */

.randomIntro {
  margin-top: 2rem;
  width: 100%;
}

.randomIntro h1 {
  text-align: center;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.randomIntro p {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.25;
}

.randomIntro .mascot-img {
  width: 20vw;
}
/* =================== Random Fact section =========== */
.fact-section {
  min-height: 60vh;
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fact-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  border: solid black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.fact-container p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
}

button {
  margin-top: 1rem;
  width: fit-content;
  padding: 2rem;
  font-size: 1rem;
  background-color: #ffbf00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

/* =================== Other Resources =========== */

.other-resources {
  background: #32936f;
  text-align: center;
}

.other-resources h2 {
  color: white;
  margin: 0;
  padding: 70px 25px 25px;
}

.other-resources .other-generators {
  list-style-type: none;
  display: flex;
  margin-left: calc((100vw - 800px) / 3);
  margin-right: calc((100vw - 800px) / 3);
}

.other-generators img {
  height: 9rem;
  width: 10rem;
}

.mascot-img {
  height: 20rem;
  width: rem;
}

.other-resources .other-generators li {
  width: 100%;
}

.other-generators .other-resources li .date-img {
  margin-top: 6px;
}

.other-generators .other-resources li .bullet {
  display: flex;
  font-size: 20px;
}

.other-generators .other-resources li .spacer {
  width: 100%;
}

.other-generators .other-resources li .bulletInfo {
  color: white;
  min-width: 270px;
  max-width: 270px;
}

span {
  color: #e83f6f;
  font-weight: 700;
  font-size: 28px;
}
